.contributor {
  padding-top: 200px;

  .contributor__wrapper {
    text-align: center;
  
    .contributor__heading {
      margin-bottom: 20px;
    }
  
    .contributor__text {
      max-width: 430px;
      margin: auto;
    }
  
    .contributor__form {
      max-width: 550px;
      margin: 100px auto 0;
    }
  }
}
