.footer {
  padding: 70px 0;
  border-top: 1px solid $color-button-bordered;
}

.column {
  .column__heading {
    margin: 0px;
    font-size: 2.0rem;
  }

  .column__items {
    padding: 8px 0;
    @include flex($justify: flex-start, $align: flex-start, $flow: column wrap);

    .column__item_bold {
      font-size: 1.6rem;
      font-weight: 500;
      color: $color-heading;
      display: inline-block;
      margin: 0 0 20px;
    }
  }
}