.form-wrapper {
  background: $color-background-input;
  padding: 8px 15px;
  @extend %transition;

  @include linear-border(
    $background: linear-gradient(90.89deg, rgba(255, 255, 255, 0.1) -1.67%, rgba(255, 255, 255, 0) 103.73%) border-box, 
    $br-radius: 15px 
  );

  body.light-theme & {
    background: $color-bg-body-light-theme;
    @include linear-border(
      $background: linear-gradient(90.89deg, rgba(17, 15, 15, 0.5) -1.67%, rgba(245, 64, 27, 0.593) 103.73%) border-box, 
      $br-radius: 15px 
    );
  }

  .form {
    @include flex(space-between);
    height: 100%;
    gap: 10px;

    .form__input {
      z-index: 1;
      color: $color-heading;
      flex-grow: 1;
      body.light-theme & {
        color: $color-text-light-theme;
      }
    }

    .form__button {
      z-index: 1;
    }
  }
}

