.form-wrapper {
  background: $color-background-input;
  padding: 8px 15px;

  @include linear-border($background: linear-gradient(90.89deg, rgba(255, 255, 255, 0.1) -1.67%, rgba(255, 255, 255, 0) 103.73%) border-box, 
  $br-radius: 15px );

  .form {
    @include flex(space-between);
    height: 100%;
    gap: 10px;

    .form__input {
      z-index: 1;
      @extend %input-text;
      color: $color-heading;
      flex-grow: 1;
    }

    .form__button {
      z-index: 1;
    }
  }
}

