.header {
  position: sticky;
  top: 0;
  background: $color-background-body;
  z-index: 1;
  padding-top: 26px;
  padding-bottom: 10px;
  @extend %transition;
  border-bottom: 1px solid transparent;

  body.scrollY & {
    border-bottom: 1px solid $color-primary;
  }

  body.light-theme & {
    background: $color-bg-body-light-theme;
  }
}

.header__wrapper {
  @include flex($justify: space-between);

  .header__navigation {
    .navigation {
      @include flex();
      gap: 30px;
      padding: 0;
      .button_navigation {
        font-weight: 500;
      }
    }
    body.light-theme & {
      color: $color-text-light-theme;
    }
  }
}