.header {
  position: sticky;
  top: 0;
  background: $color-background-body;
  z-index: 1;
  padding-top: 26px;
  padding-bottom: 10px;
}

.header__wrapper {
  @include flex($justify: space-between);

  .header__navigation {
    .navigation {
      @include flex();
      gap: 30px;
      padding: 0;
      .button_navigation {
        font-weight: 500;
      }
    }
  }
}