.header {
  position: sticky;
  top: 0;
  padding-top: 26px;
  background: $color-background-body;
}

.header__wrapper {
  @include flex($justify: space-between);
  .logo {
    @include flex();
    .logo-icon {
      width: 38px;
      height: 38px;
      margin-right: 12px;
    }
  }
  .header__title {
    @extend %button-navigation;
  }
  .header__navigation {
    .navigation {
      @include flex();
      gap: 30px;
      padding: 0;
      .navigation__link {
        font-weight: 500;
        @extend %button-navigation;
      }
    }
  }

  .header__buttons {
    .button {
      @extend %button-rectangular;
    }

    .button_colored {
      @extend %button-colored;
    }

    .button_none-colored {
      @extend %button-none-colored;
    }
  }
}