.newcomer-tools {
  padding-top: 200px;
}

.newcomer-tools__wrapper {
  @include flex($justify: space-between, $align: flex-start);
  gap: 10%;

  .newcomer-tools__content,
  .newcomer-tools__items {
    flex-basis: 45%;
  }

  .newcomer-tools__content {
    max-width: 430px;
  }

  .newcomer-tools__items {
    flex-grow: 1;
    row-gap: 50px;
  }

  .newcomer-tools__explore-button {
    margin-top: 60px;
  }
}