.promo {
  padding-top: 110px;
  position: relative;
  overflow: hidden;
}

.promo__wrapper {
  max-width: 600px;
  .promo__heading {
    margin-bottom: 30px;
    @include font-primary(5rem, 500, $color-heading);
    line-height: 140%;
    span {
      color: $color-primary;
    }
    body.light-theme & {
      color: $color-text-light-theme;
    }
  }

  .promo__text {
    max-width: 490px;
    font-size: 16px;
  }

  .promo__form {
    max-width: 490px;
    margin-top: 60px;
  }

  .promo__image {
    position: absolute;
    right: 20px;
    bottom: 0;
    width: 600px;
    height: 580px;
    .light-theme-img {
      display: none;
    }
    .dark-theme-img {
      display: block;
    }
    body.light-theme & {
      .light-theme-img {
        display: block;
      }
      .dark-theme-img {
        display: none;
      }
    }
  }
  body.light-theme & {
    .promo__image {
      right: -5px;
      bottom: -13px;
    }
    color: $color-text-light-theme;
  }
}

.promo__social-media {
  margin-top: 110px;
  ul {
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      .ico {
        &:hover {
          filter: brightness(0) saturate(100%) invert(55%) sepia(55%) saturate(2632%) hue-rotate(337deg) brightness(99%) contrast(105%);
        }
        body.light-theme & {
          filter: brightness(0) saturate(100%) invert(12%) sepia(9%) saturate(1161%) hue-rotate(166deg) brightness(96%) contrast(95%);
          &:hover {
            filter: brightness(0) saturate(100%) invert(55%) sepia(55%) saturate(2632%) hue-rotate(337deg) brightness(99%) contrast(105%);
          }
        }
      }
    }
  }
}