.team-slide {
  .tead-slide__text {
    padding-top: 190px;
    @include font-additionary();
    text-align: left;
    line-height: 30px;

    p {
      margin: auto;
      max-width: 400px;
    }
  }
}

.person {
  position: relative;
  padding-bottom: 150px;

  .person__background {
    position: absolute;
    height: 490px;
    width: 546px;
    bottom: 154px;
    left: 30%;
  }
  .person__photo {
    position: relative;
    height: 500px;
    width: 400px;
    bottom: -0px;
    left: 25%;
    object-fit: cover;
  }
  
  .person__info {
    display: inline-block;
    @include linear-border(
      $background: linear-gradient(90.89deg, rgba(255, 255, 255, 0.1) -1.67%, rgba(255, 255, 255, 0) 103.73%) border-box, 
      $br-radius: 8px
      );
  left: 30%;
  top: 80%;
  background: $color-blur-slider;
  backdrop-filter: blur(25px);
  color: $color-text-additionaly;
  text-align: left;
  z-index: 5;
  
    .person__name {
      padding: 10px 22px;
      margin: 0;
      font-size: 26px;
      font-weight: 500;
    }
    .person__position {
      padding: 0 0 10px 22px;
      margin: 0;
      font-size: 16px;
      font-weight: 400;
    }
  }
}