.slider {
  padding-top: 200px;
}

.slider__wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  height: 600px;
  z-index: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  margin: auto;

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    // Center slide text vertically
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper__button {
    &::after {
      font-size: 30px;
      color: $color-text-primary;
      @extend %transition;
    }
    &:hover {
      &::after {
        color: $color-primary
      }
    }
  }

  .swiper__pagination {
    .swiper-pagination-bullet { // library class
      width: 44px;
      height: 6px;
      border-radius: 3px;
      @extend %transition;
      &-active {
        background: $color-primary;
      }
    }
  }
}

.team-slide {
  .tead-slide__text {
    padding-top: 190px;
    @include font-additionary();
    text-align: left;
    line-height: 30px;

    p {
      margin: auto;
      max-width: 400px;
    }
  }
}

.person {
  position: relative;
  padding-bottom: 150px;

  .person__background {
    position: absolute;
    height: 490px;
    width: 546px;
    bottom: 154px;
    left: 30%;
  }
  .person__photo {
    position: relative;
    height: 500px;
    width: 400px;
    bottom: -0px;
    left: 25%;
    object-fit: cover;
  }
  
  .person__info {
    display: inline-block;
    @include linear-border(
      $background: linear-gradient(90.89deg, rgba(255, 255, 255, 0.1) -1.67%, rgba(255, 255, 255, 0) 103.73%) border-box, 
      $br-radius: 8px
      );
  left: 30%;
  top: 80%;
  background: $color-blur-slider;
  backdrop-filter: blur(25px);
  color: $color-text-additionaly;
  text-align: left;
  z-index: 5;
  
    .person__name {
      padding: 10px 22px;
      margin: 0;
      font-size: 26px;
      font-weight: 500;
    }
    .person__position {
      padding: 0 0 10px 22px;
      margin: 0;
      font-size: 16px;
      font-weight: 400;
    }
  }
}


// .swiper-slide img {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }