.tool {
  @extend %transition;
  padding: 33px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;

  .tool__blur-effect {
    @extend %blur-effect;
    right: 30px;
    top: -6px;
    display: none;
  }
  .tool__title {
    @include flex(flex-start);
    gap: 30px;
    .icon-square {
      width: 64px;
      height: 64px;
    }

    .tool__heading {
      text-align: left;
      h4 {
        margin: 0;
      }
      span {
        @extend %transition;
        color: $color-tool-marker;
        font-size: 1.8rem;
      }
    }
  }

  .tool__content {
    p {
      text-align: left;
    }
  }

  .tool__interaction {
    @include flex(space-between);
      .ico {
        padding: 7px;
        &:hover {
          background: $color-hover-icon;
          border-radius: 8px;
        }
      }
  }

  &:hover {
    background: $color-background-hover;

    @include linear-border(
      $background: linear-gradient(118.49deg, rgba(255, 255, 255, 0.08) -2.11%, rgba(255, 255, 255, 0) 28.55%, rgba(255, 255, 255, 0.05) 44.69%, rgba(255, 255, 255, 0) 96.78%) border-box, 
      $br-radius: 15px 
    );

    .tool__heading {
      span {
        color: $color-tool-marker-hover;
      }
    }
    .tool__interaction {
      .ico {
        position: relative;
        z-index: 1;
      }
      .tool__button {
        z-index: 1;
        @extend %button-colored;
      }
    }
    .tool__blur-effect {
      display: block;
    }
  }
}




