$color-background-body: #1E252B; 
$color-primary: #FF6E30;
$color-heading: rgba(255, 255, 255, 0.9);
$color-text-primary: rgba(255, 255, 255, 0.55);
$color-text-additionaly: rgba(255, 255, 255, 0.78);
$color-text-placeholder: rgba(255, 255, 255, 0.38);
$color-background-partners: rgba(44, 53, 61, 0.20);
$color-background-hover: rgba(40, 48, 54, 0.60);
$color-background-input: #283036;
$color-light: #FFFFFF;
$color-tool-marker: rgba(255, 165, 55, 0.55);
$color-tool-marker-hover: #FFA537;
$color-button-bordered: rgba(255, 255, 255, 0.1);
$color-hover-icon: #283036;
$color-blur: rgba(255, 110, 48, 0.6);

$content-width: 1224px;